<div class="row">
  <div class="row">
    <h1>What's on the air today?</h1>
  </div>
  <div class="row airing-tv-show"></div>
</div>
<div class="row">
  <div class="row">
    Make some friends!
  </div>
  <div class="users-list">
    
  </div>
</div>