<div class="row">
  <div class="row">
    <h1>What's on the air today?</h1>
  </div>
  <div class="row airing-tv-show"></div>
</div>
<div class="row">
  <div class="row">
    <h1>Make some friends!</h1>
  </div>
  <div class="row users-list">
    
  </div>
</div>
<div class="row">
  <div class="col-lg-12 home-feed">
    
  </div>
</div>