<div class="row">
  <div class="col-sm-12 show-picture">
    <a href="#shows/<%%= show.id %>">
      <%% if (show.get('poster_path')) { %>
        <img src="https://image.tmdb.org/t/p/w300<%%= show.get('poster_path') %>" alt="" class="img-responsive center-block">
      <%% } else { %>
        <%= image_tag("not_found.png", class: "center-block img-responsive") %>
      <%% } %>
    </a>
  </div>
</div>
<div class="row show-title">
  <div class="col-sm-12 text-center">
    <a class="h4" href="#shows/<%%= show.id %>"><%%= show.escape('original_name') %></a>
  </div>
</div>