<div class="row">
  <div class="col-xs-12 show-picture">
    <a href="#shows/<%= show.id %>">
      <img src="https://image.tmdb.org/t/p/w185<%= show.get('poster_path') %>" alt="" class="img-responsive">
    </a>
  </div>
</div>
<div class="row show-title">
  <div class="col-xs-12 text-center">
    <a class="h6" href="#shows/<%= show.id %>"><%= show.escape('original_name') %></a>
  </div>
</div>