<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <h1>Sign In</h1>
    
    <%= render 'users/form', user: @user, new_user: false %>

    <%= link_to 'Not a user? Sign Up!', new_user_url  %>
    
  </div>
</div>
