<div class="form-group comment-textarea">
  <textarea class="form-control" name="body"></textarea>
</div>
<button class="btn btn-primary add-comment-submit" type="submit">Add</button>
<button class="btn btn-default add-comment-cancel">
  <span class="glyphicon glyphicon-remove"></span>
</button>