<div class="row search-result-header">
  <h2>Search results for "<%= query.query %>"</h2>
</div>
<div class="row">
  <table class="table table-responsive search-results-table">
    <thead>
      <tr>
        <th class="poster-col">Poster</th>
        <th>Name</th>
        <th>First Air Date</th>
      </tr>
    </thead>
    <tbody class="search-results"></tbody>
  </table>
</div>