<div class="col-sm-8 user-show">
  <div class="row user-header">
    <div class="col-sm-2 user-picture">
      
    </div>
    <div class="col-sm-10 user-details">
      <h1><%= user.escape('email') %></h1>
    </div>
  </div>
</div>
<div class="col-sm-4 friends-show">
  <div class="row friends-header">
    <h4><%= user.escape('email') %>'s Friends</h4>
  </div>
  <div class="row friends-list-wrapper">
    
  </div>
</div>