<div class="col-sm-8 user-show">
  <div class="row user-header">
    <div class="col-sm-2 user-picture">
      
    </div>
    <div class="col-sm-10 user-details">
      <h1 class="name">
        <%= user.escape('name') %>
        <% if (user.get('current_user')) {%>
        <a href="#" class="edit-name">
          <small>
            <span class="glyphicon glyphicon-cog" aria-hidden="true" ></span>
           <span class="sr-only">Edit</span>
          </small>
        </a>
        <% } %>
      </h1>
    </div>
  </div>
  <div class="user-body">
    <div class="row shelves-header">
      <h4><%= user.escape('name') %>'s shelves</h4>
    </div>
    <div class="row shelves-list">
      
    </div>
  </div>
</div>
<div class="col-sm-4 friends-show">
  <div class="row friends-header">
    <h4><%= user.escape('name') %>'s friends</h4>
  </div>
  <div class="row friends-list-wrapper">
    
  </div>
</div>
