<button type="button" class="btn btn-success add-show-to-shelf">Want to watch</button>
<% if(shelves.models && shelves.models.length > 1) { %>
<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  <span class="caret"></span>
  <span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu" role="menu">
  <% shelves.each( function(shelf) { %>
    <li>
      <a href="javascript:void(0);"
         class="add-show-to-shelf"
         data-id="<%= shelf.id %>">
        <%= shelf.escape('title') %>
      </a>
    </li>
  <% }); %>
</ul>
<% } %>