<input type="number"
       class="rating show-rating-stars"
       min=0
       max=5
       step=0.01
       value="<%= rating %>"
       data-size="xs">
<p>Avg Rating: <%= avgRating || 0 %></p>
<p>User Rating: <%= userRating || "Not rated" %></p>