/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


@import "font-awesome";
@import "bootstrap-sprockets";
// $grid-float-breakpoint: 992px;
@import "bootstrap/variables";
@import "bootstrap";
@import "bootstrap-theme.min";
@import "star-rating.min";
@import "comments";
@import "reviews";
@import "show-results-table";
@import "show_shelves";
@import "show_shelvings";
@import "shows";
@import "static_pages";
@import "user";
@import "feed";

body {
  padding-top: 70px;
}

.loader {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #c0392b 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #c0392b 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #c0392b 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #c0392b 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #c0392b 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #c0392b;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
