.comment-index-wrapper {
  background-color: #ecf0f1;
  border-radius: 3px;
}

.comment-picture {
  height: 40px;
  display: inline-block;
}

.comment-index-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment-picture img {
  height: 100%;
}

.comment-body {
  p {
    word-wrap: break-word;
  }
}

.add-new-comment-form {
  padding-bottom: 5px;
}