.rating-container {
  cursor: pointer;
}

.average-rating-stars div.rating-stars {
  color: #c0392b;
}

div.rating-stars:hover {
  color: #fde16d;
}

.star-rating {
  margin: 0 0 10px;
}

.review-preview {
  padding: 6px 12px;
}