// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/variables";
.detail-header {
  font-weight: bold;
}

.add-to-shelf {
  margin-top: 20px;
}

.the-movie-db {
  margin-top: 20px;
}

div.home-show-box {
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    min-height: 260px;
  }

  // Large devices (large desktops, 1200px and up)
  @media (min-width: $screen-lg-min) {
    min-height: 240px;
  }
}
