// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.detail-header {
  font-weight: bold;
}

.add-to-shelf {
  margin-top: 20px;
}

.the-movie-db {
  margin-top: 20px;
}

.show-box {
  height: 305px;
}