.user-picture {
  position: relative;
}

.user-picture-edit {
  position: absolute;
  bottom: 3px;
  right: 17px;
  height: 15px;
  display: none;
  color: #777777;
}

.user-picture:hover .user-picture-edit {
  display: inline-block;
}

.friends-list-item {
  border: 1px solid #e7e7e7;
  padding: 2px 0;
}

div.friends-list {
  overflow: scroll;
  min-height: 200px;
  height: 80%;
}

button.hover-over-start, a.hover-over-start {
  display: none;
}

.name:hover {
  button.hover-over-start, a.hover-over-start {
    display: inline;
  }
}