.user-picture {
  position: relative;
}

.user-picture-edit {
  position: absolute;
  bottom: 3px;
  right: 17px;
  height: 15px;
  display: none;
  color: #777777;
}

.user-picture:hover .user-picture-edit {
  display: inline-block;
}

.friends-list-item {
  border: 1px solid #e7e7e7;
  padding: 2px 0;
}

div.friends-list {
  overflow: scroll;
  min-height: 200px;
  height: 80%;
}

button.hover-over-start, a.hover-over-start {
  display: none;
}

.name:hover, .friend-name:hover {
  button.hover-over-start, a.hover-over-start {
    display: inline;
  }
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}
